@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');


.container {
   overflow: hidden;
   max-width: 1920px;
   margin: 0 auto;

   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
}

.cont_content {
   max-width: 1280px;
   margin: 0 auto;
   padding: 0px 30px;
}